RewriteEngine On

# Sprawdź, czy żądanie nie odnosi się do fizycznego pliku lub katalogu
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Przekieruj żądanie do projects.html w folderze public, jeśli URL kończy się na "projekty"
RewriteRule projekty projects.html [L]

# Przekieruj krótki URL na dłuższy URL

RewriteRule pizza-calculator /pizza-calculator/pizza_calculator.html

RewriteRule aimer /aimer/aim_game.html

RewriteRule cramer /cramer/project-python-cramer.html

RewriteRule nbp /nbp/project-python-download-file.html

RewriteRule shoping-list /shoping-list/shoping_list.html

RewriteRule webscraping-twoj-browar /webscraping-twoj-browar/project-python-webscraping-twojbrowar.html

RewriteRule work-time-template /work-time-template/project-vba-czaspracy-ewidencja.html


